<body> 
  <header>
    <nav class="navigation">  
      <div class="navigationButtons"> 
        <div class="home"><a href="http://localhost:3000/"><h1>HOME</h1></a></div>
        <div class="favorites"><a href="http://localhost:3000/searchFavorites"><h1>FAVORITES</h1></a></div>
      </div>  
         
    </nav>
  </header>

	<main>		
		<div id="wtf">
      <%= image_tag ("wtf.gif") %>
    </div>
	</main>    
</body>
