<h1>That's you search result</h1>

<nav>    
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/searchFavorites">Show my favorites</a>   
</nav>

<% @result.each do |attr_name, attr_value| %>
  <div>
    <%= attr_name %>: <%= attr_value %>
  </div>
<% end %>

<%= @savingStatus %>