<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navigation">  
      <div class="navigationButtons"> 
        <div class="home"><a href="http://localhost:3000/"><h1>HOME</h1></a></div>
        <div class="favorites"><a href="http://localhost:3000/searchFavorites"><h1>FAVORITES</h1></a></div>
      </div>  
         
    </nav>
  </header>
  
  <main>
    <%= form_with url:"/showFavorites" do |form|%>
      <h1>USERNAME</h1>
      <div id="usernameField"><%= text_field(:userName, :field) %></div><br>
      <%= image_submit_tag("submit_button.jpg", class:"submitButton") %>
    <% end %>
  </main> 
</body>
