<h1>Search my favorites</h1>

<nav>    
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/searchFavorites">Show my favorites</a>   
</nav>

<%= form_with url:"/showFavorites" do |form|%>
  <h2>Username</h2>
  <%= text_field(:userName, :field) %>
  <%= submit_tag("search") %>
<% end %>