#wtf{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#pageNotFoundMessage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pageNotFoundNav{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}