/*=== global ===*/
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body{
  width: 100%;
  height: 100%;
  background-image: url(star_wars_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 850px;
  overflow-x: hidden;
}

a{
  color: black;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  
}

a:hover{
  color: #fff;
  
}

.navigation{
  display: table;
}

.navigationButtons{
  display: table-row;
}

.title{
  color: white;
}

.home{
  display: table-cell;
  width: 120px;
}

.favorites{
  display: table-cell;
}

/*=== Page not found ===*/
#page_not_found_gif{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 50%
}

/*=== home ===*/
#searchForm{
  width: 500px;
}

.form_fields{
  display: table;
}

.row{
  display: table-row;
}

.child{
  display: table-cell;
}

#username{
  width: 160px;
  color: white;
  margin: auto;
}

#type{
  width: 85px;  
  color: white;
}


#number{
  width:125px;
  color: white;
}

.submitButton{
  width: 168px;
  height: 30px;
  border-radius: 0.25rem;
}


#checkBox{
  color: white;
}

#usernameField input{
  border-radius: 0.50rem;
  margin-top: 0;
  position: relative;
  top: 5px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#numberField input{
  border-radius: 0.50rem;
  margin-top: 0;
  position: relative;
  top: 5px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#typeField input{
  border-radius: 0.50rem;
  margin-top: 0;
  position: relative;
  top: 5px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*=== research ===*/
main{
  color: white;
}

footer{
  color: white;
}